<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About cStock</title>
    <%- include('cssRelated/cssLinks'); %>
</head>
<body>
    <section id="full-screen">
        <canvas class="background"></canvas>
        <div class="about">
            <h1 class="color1">About us</h1>
            <p class="accent-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem eos excepturi molestias? Nemo vero quae voluptatem commodi. Provident obcaecati, illum commodi quos voluptatum expedita ducimus! Aperiam possimus quibusdam ab distinctio tempore officia quo amet alias! Praesentium, iste aliquam, voluptatum, delectus molestiae incidunt ducimus doloremque aspernatur minima quia quidem iure soluta!</p>
        </div>
    </section>
    <%- include('cssRelated/scripts'); %>
</body>
</html>