.content {
    margin-top: 2%;
}

.cmpName {
    color: #f95959;
    font-size: 35px;
    margin-left: 5%;
}

.gob {
    font-size: 20px;
    position: relative;
    padding: 0.5% 1%;
    margin-left: 2%;
    border-color: #fff;
    color: #fff;
}

.gob:hover{
    cursor: pointer;
    background-color: #4aaa01;
    border-color: #4aaa01;
}

.details {
    margin: 3% 5%;
    color: #b5b5b5;
    font-size: 18px;
    text-align: justify;
}

ol {
    margin-top: 8%;
}

.list-group-item {
    background-color: #212534;
}

.list-group-numbered>.list-group-item::before {
    color: #fff;
}

.ms-2 {
    color: #b5b5b5;
}

#price {
    color: #fff;
}