.content {
    margin-top: 2%;
}

.cmpName {
    color: #fff;
    font-size: 35px;
    margin-left: 5%;
    font-weight: 700;
    line-height: 2;
}

.gob {
    font-size: 20px;
    position: relative;
    padding: 0.5% 1%;
    margin-left: 2%;
    border-color: #fff;
    color: #fff;
}

.gob:hover{
    cursor: pointer;
    background-color: #f95959;
    border-color: #f95959;
}

.details {
    margin: 3% 5%;
    color: #dcdcdc;
    font-size: 18px;
    text-align: justify;
}

ol {
    margin-top: 8%;
}

.list-group-item {
    background-color: #1c1f29;
}

.list-group-numbered>.list-group-item::before {
    color: #fff;
}

.ms-2 {
    color: #b5b5b5;
}

#price {
    color: #fff;
}

#Capa_1 {
    margin-bottom: .5%;
}

.information {
    display: flex;
    justify-content: space-evenly;
    background-color: #1c1f29;
    border-radius: 5px;
    padding-top: 1.5%;
    padding-bottom: 1%;
}

.footer {
    width: 100%;
    height: 10vh;
    text-align: center;
    color: #b5b5b5;
    margin-top: 10vh;
}

@media (max-width: 900px) {
    .information {
        display: block;
        text-align: center;
    }
}